{{>navbar}}
<div class="container-fluid text-center">
    {{>flash}}
    <div id="find-nosh">
        <div id="radius-wheel"></div>
        <div id="cuisine-slider" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
            <div class="carousel-inner">
                {{#each cuisines}}
                <div class="carousel-item {{~#if @first}} active{{/if}}" data-cuisine-id="{{cuisine_id}}">
                    <p class="cuisine"><i class="{{icon}} pe-5x"></i></p>
                    <div class="carousel-caption d-none d-md-block">
                        <p class="cuisine-name">{{cuisine_name}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
            <button class="carousel-control-prev" data-bs-target="#cuisine-slider" type="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-target="#cuisine-slider" type="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h4 class="mb-4 d-block">Use the dial to choose your search distance, and the arrows for the choice of
            cuisine.</h4>
        <button id="nosh-me" class="btn btn-danger btn-lg" type="button" role="button">nosh me!</button>
    </div>
</div>
<script type="text/javascript" nonce="{{ nonce }}">
    /* eslint-disable */
    var startRadius = parseInt({{ user.Profile.radius }});
    /* eslint-enable */
</script>
